body {
    background-image: url("https://www.dmoe.cc/random.php");
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-position: inherit;
    background-size: inherit;
    filter: blur(3px) brightness(0.75);
    z-index: -1;
}
